<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck Build</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div id="wrapper">
    <div>
        <h1>HME Design Deck Builder</h1>
        <h2>From idea.....</h2>
        <img class="images" src="static\finish images\simple square deck aerial view.jpg">
        <img class= "images" src="static\design_plan graphics\corner pergola grill area with tile floor.jpg">
        <img class="images" src="static\design_plan graphics\bookcase idea.jpg">
    </div>
    <div>
        <h2>To design....</h2>
        <img class="images" src="static\design_plan graphics\cornhole board plans.png">
        <img class="images" src="static\design_plan graphics\deck shapes and sizes available.jpg">
        <img class="images" src="static\design_plan graphics\farmhouse base xlegs.jpg">
        <img class="images" src="static\design_plan graphics\farmhouse tabletop.jpg">
        <img class="images" src="static\design_plan graphics\bookcase2.jpg">
        <img class="images" src="static\design_plan graphics\gazebo full.jpg">
    </div>
    <div>
        <h2>To the moment you and your family finally enjoy!</h2>
        <img class="images" src="static\finish images\cornhole triangle multi design.jpg">
        <img class="images" src="static\finish images\light wood white railing covered raised deck.jpg">
        <img class="images" src="static\finish images\mutlilevel luxury landscaped tiered deck staircase to paved patio.jpg">
        <img class="images" src="static\finish images\octagonal redwood with dark railing deck stairs to landscaped yard.jpg">
        <img class="images" src="static\finish images\white pergola large.jpg">
        <img class="images" src="static\finish images\Gazebo-octagon-grey.jpg">
        <img class="images" src="static\finish images\bookcase with ladder.jpg">
        <img class="images" src="static\finish images\farmhouse table xleg base.jpg">

    </div>
    <h2>HMExtroadinaire guides you from concept to reality with efficiency and integrity to your utmost satisfaction</h2>
    <div id="=mainfooter">
        <ul>
            <li>About Us</li>
            <li>Contact</li>
            <li>Copyright &#x00A9 2020 Handyman Extraordinare Inc.</li>            
        </ul>
        <div>
            <h4>Follow Us:<img class="thumb" src="static\finish images\facebook.jpg"> <img class="thumb" src="static\finish images\instagram.jpg"> <img class="thumb" src="static\finish images\pinterest.jpg"> </h4>
        </div>

        <div id="topfooter">
            <a href="/render_home"><button>Back to top</button></a>
        </div>
    </div>
</body>
</html>