<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Deck Builder Login</title>
</head>
<body>
    <div class="bg-secondary p-4">
    <div id='wrap' class="container mt-5">
        <div class="row align-items-center">
            <div class="col">
                <div id='errors'>
                    {% for message in messages %}
                        <p>{{message}}</p><br>
                    {% endfor %}
                </div>
                <div id="intro-tag">
                    <h2>Welcome to</h2>
                    <h1 class="text-center text-warning display-2">Deck Builder</h1>
                </div>
                <!-- <div class='form-box'>
                    <h1>Register</h1>
                    <form action="register" method=POST>
                        {% csrf_token %}
                        <p>First Name:<input type="text" name="fname"></p>
                        <p>Last Name:<input type="text" name="lname"></p>
                        <p>Email:<input type="text" name="email"></p>
                        <p>Password:<input type="password" name="pw"></p>
                        <p>Confirm PW:<input type="password" name="confpw"></p>
                        <p id="form-box-button"><input type="submit" value="Create User"></p>
                    </form>
                </div>     -->
            </div>

                <div class="col">
                    <h1>Login</h1>
                    <form action="login" method=POST>
                        {% csrf_token %}
                        <p><input type="text" name="email" placeholder="Email Address"></p>
                        <p><input type="password" name="pw" placeholder="Password"></p>
                        <p id="form-box-button"><input type="submit" value="Login"></p>
                    </form>
                    <a class="text-warning" href="/new_register">Register Here!</a>
                </div>
        </div>
    </div>
    </div>
</body>
</html>