<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck Builder Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="bg-secondary p-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h2>Register for</h2>
                <h1 class="text-center text-warning display-2">Deck Builder</h1>
            </div>
            <div class="col">
                    <h1>Register</h1>
                    <form action="register" method=POST>
                        {% csrf_token %}
                        <p><input type="text" name="fname" placeholder="First Name"></p>
                        <p><input type="text" name="lname" placeholder="Last Name"></p>
                        <p><input type="text" name="email" placeholder="Email Address"></p>
                        <p><input type="password" name="pw" placeholder="Password"></p>
                        <p><input type="password" name="confpw" placeholder="Confirm Password"></p>
                        <p id="form-box-button"><input type="submit" value="Create User"></p>
                    </form>
                <a class="text-warning" href="/have_account">Already have an Account? Login Here!</a>
            </div>
        </div>
    </div>
    </div>
</body>
</html>